---
import Dashboard from '@/components/Dashboard.astro';
import Layout from '../layouts/Layout.astro';
---

<script>
  import {
    levelForecastStore,
    levelObservationStore,
    weatherForecastStore,
    sewageEventStore,
  } from "@/store";

  import { SewageEventSchema } from "@/lib/models";

  import { app } from "@/firebase/client";

  import { getBytes, getStorage, ref } from "firebase/storage";
  import { z } from "zod";

  export const storage = getStorage(app);

  const fetchBucketItem = async (path: string) => {
    const path_ref = ref(storage, path);
    const bytes = await getBytes(path_ref);

    return JSON.parse(new TextDecoder().decode(bytes));
  };

  fetchBucketItem("prediction/prediction.json").then((data) => {
    levelForecastStore.set(data);
  });

  fetchBucketItem("prediction/observation.json").then((data) => {
    levelObservationStore.set(data);
  });

  fetchBucketItem("weather/latest_forecast.json").then((data) => {
    weatherForecastStore.set(data);
  });

  fetch("https://getsewageleaks-fjdislxqya-nw.a.run.app/")
    .then(async (response) => {
      const data = await response.json();
      const schema = z.array(SewageEventSchema);
      sewageEventStore.set(schema.parse(data));
    })
    .catch((error) => console.error("Error fetching sewage events:", error));
</script>

<Layout>
  <main>
    <!-- Under construction banner -->
    <div class="bg-secondary p-4 mb-4 text-center rounded-sm">
      <span class="font-bold text-lg text-secondary-foreground">
        🚧 This service is still a work in progress. Please do not rely on any
        data from it! 🚧
      </span>
    </div>

    <div class="container px-2">
      <Dashboard />
    </div>
  </main>
</Layout>
