---
import { LevelGraph } from '@/components/levelChart';

import { ParametersReport } from '@/components/parameter';
import { SpillTable } from '@/components/spill-table';

import type { Parameters } from '@/lib/parametersConfig';

const dashboardParameters: (keyof Parameters)[] = [
	'riverLevel',
	'windSpeed',
	'windGust',
	'temperature',
	'temperatureApparent',
	// "uvIndex",
	'visibility',
];
---

<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
  <div class="col-span-1 md:col-span-3 h-auto row-span-3">
    <LevelGraph client:load />
  </div>
  <div class="col-span-1 row-span-4">
    <ParametersReport client:load show={dashboardParameters} />
  </div>
  <div class="col-span-1 md:col-span-3 row-span-2">
    <SpillTable client:load />
  </div>
</div>
